<footer class="main-footer">
    <strong>Copyright &copy; 2025 <a href="https://wa.me/+963953827205?text=hello">Mhmad JH</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
        <a target="_blank" class="text-success" href="https://wa.me/+963953827205?text=hello"><i class="fab fa-lg fa-whatsapp"></i></a>
        <a target="_blank" href="https://www.facebook.com/profile.php?id=61562655154966"><i class="fab fa-lg ml-1 fa-facebook"></i></a>
        <a target="_blank" class="text-pink" href="https://www.instagram.com/mhmadjh19/"><i class="fab fa-lg ml-1 fa-instagram"></i></a>
    </div>
  </footer>